* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

/*Entire adoptation Body Elements*/
a:hover {
    text-decoration: none !important;
}

/*Single adoptation DIV Containers*/

.button-form {
    position: absolute;
    bottom: 35px;
    right: 40px;
    border: 0px;
    height: 35px;
    width: 60px;
    background-color: white !important;
}

.formPortfolio:hover>.formContent>.button-form:hover {
    opacity: 0.9;
    margin-bottom: 15px;
    transition: 0.3s ease-in;
    border: 1px solid cornflowerblue;

}

.formPortfolio:hover>.formContent>.button-form {
    opacity: 0.8;
    transition: 0.3s ease-in;
    margin-bottom: 10px;
    overflow: hidden;

}

#nav-bar .navbar {
    height: 90px;
    background-color: rgb(211 19 56 / 100%);
    padding-right: 30px;
    position: fixed;
    backdrop-filter: blur(20px);
    padding-left: 30px;
    width: 100%;
    z-index: 1;
    transition: 0.2s ease-out;
}

#nav-bar .navbar.scrolled {
    height: 60px;
    background-color: rgb(0 0 0 / 70%);
    padding-right: 30px;
    position: fixed;
    backdrop-filter: blur(20px);
    padding-left: 30px;
    width: 100%;
    z-index: 1;
    transition: 0.2s ease-in;
}

.nav-positioning {
    margin-bottom: 70px;
}

.navbar-brand img {
    width: 150px;
    height: 48px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
    padding-right: 1.5rem !important;
    font-weight: 500;
    color: #eeebeb !important;
}

.navbar-nav li {
    padding: 0px 0px 0px 39px;
}

.navbar-nav li a {
    color: #ffffff !important;
    font-size: 18px;
    float: right;
    text-align: left;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #d31338;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.fa-bars {
    color: white;
}

.approach-left-col {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.approach-header {
    width: 650px;
    color: #CF053E !important;
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
}

.approach-paragraph {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 50px;
}

.approach-read-more {
    color: #9E9E9E !important;
    font-size: 18px;
    text-decoration-line: none !important;
}

.approach-img {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
}

.Dedication {
    background-image: url("images/IMGDedication/Dedication.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    padding-bottom: 100px;
}

.white-regular {
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.white-bold {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 50px;
    color: white;
}

.paragraph-white {
    font-size: 33px;
    font-weight: 300;
    padding-bottom: 50px;
    color: white;
}

.Services {
    padding: 50px;
    background-color: #FFD6E25C;
}

.red-regular {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    color: #D31338;
}

.red-bold {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #941439;
}

.carousel-indicators li {
    border-top: 0px !important;
    border-bottom: 0px !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px !important;
    background-color: #dd0141 !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.mobileServices {
    visibility: hidden;
    height: 0px;
}

.red-regular-mobile {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #D31338;
}

.red-regular-Technologies {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #D31338;
    padding-bottom: 50px;
    padding-top: 50px;
}

.technologiesForm {
    height: 85px;
    margin-bottom: 100px;
    background: rgb(211, 19, 56);
    background: linear-gradient(261deg, rgba(211, 19, 56, 1) 0%, rgba(241, 51, 87, 1) 97%);
    border-radius: 11px;
    display: flex;
    text-align: center;
}

#technologiesText {
    padding-left: 25px;
    padding-top: 28px;
    color: white;
    font-size: 24px;
    font-weight: 350;
}

.technologiesForm:hover {
    box-shadow: 0 0 10px 0px black;
    cursor: pointer;
    background: linear-gradient(67deg, rgba(223, 17, 49, 1) 0%, rgba(209, 0, 62, 1) 100%);
    transition: 0.2s ease-out;
}

.insideFormContainer {
    justify-content: center;
    display: flex;
    width: 100%;
}

#imgDirect {
    height: 85px;
    position: absolute;
    left: 6%;
}

.Portfolio {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.formPortfolio {
    width: 100%;
    height: 248px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 15px;
}

#background-portofolio1 {
    background-image: url(images/IMGPortfolio/cd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-portofolio2 {
    background-image: url(images/IMGPortfolio/ls.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-portofolio3 {
    background-image: url(images/IMGPortfolio/dns.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-portofolio4 {
    background-image: url(images/IMGPortfolio/dd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-portofolio5 {
    background-image: url(images/IMGPortfolio/sportsmed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
}

.formContent {
    visibility: hidden;
}

.formTitle {
    color: #343a40;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.formParagraph {
    color: #343a40;
    font-size: 16px;
    font-weight: 600;
    left: 20%;
    right: 20%;
    position: absolute;
    letter-spacing: 1px;
}

.formPortfolio:hover>.formContent {
    visibility: visible;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: 0.7s ease;
}

.portfolio-screenshoots {

    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 3px;
}

.Products {
    background-color: #fff0f4;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.products-h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #D31338;
    opacity: 1;
    padding-bottom: 30px;
}

.h1-Portfolio {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #D31338;
    opacity: 1;
    padding-top: 30px;

}

.carousel-h2 {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-left: 88px;
}

.h1-white {
    text-align: center;
    font: normal normal bold 35px/60px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 50px;
}

.carousel-paragraph {
    text-align: left;
    font-family: Segoe UI Emoji;
    font-size: 30px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-left: 88px;
    padding-bottom: 50px;
}

.carousel-image {
    width: 583px;
    height: 384px;
    border-radius: 8px;
    padding-bottom: 50px;
}

.Contact {
    padding: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("images/IMGFooter/Footer.jpg");
}

.footer-header {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.footer-paragraph {
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.footer-followus {
    text-align: left;
    font-size: 26px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#footer-button {
    background-color: #ffa200;
    color: white;
    width: 110px;
    font-size: 20px;
}

.footer-icon {
    color: white;
}

.SecondPage {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #fff0f4;
}

.SecondPageHeader {
    text-align: center;
    font-size: 25px;
    color: crimson;
    font-weight: 600;
    padding-bottom: 35px;
}

.row1 {
    text-align: center;
    margin: 0 auto;
}

.row1 .col-md-12 {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row2 {
    text-align: center;
    margin: 0 auto;
}

.row2 .col-md-3 {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.tech-icons {
    width: 100px;
    height: 100px;
}

.tech-icons-name {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #DD0141;
    font-family: 'Segoe UI';
}

.navbar-nav>.nav-item>.nav-link:hover {
    color: white !important;
}

.carousel-control-next {
    width: auto !important;
    padding-right: 75px;
}

.carousel-control-prev {
    width: auto !important;
    padding-left: 75px;
}

#border-Forms {
    border: 3px solid #d01e40a8;
    box-shadow: -4px 16px 15px 6px #e8e5e5;
    border-radius: 9px;
    background-color: white;
}

.technologies-icons-interactive:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

.table-hover tbody tr:hover>td {
    background-color: #ffebf0
}

.table>tbody>tr:first-child>td {
    border: none;
}


.underline_animation {
    display: inline-block;
}

.underline_animation::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}

.underline_animation:hover::after {
    width: 100%;
}

#slider {
    height: 350px;
    overflow: hidden;
    width: 100%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    #nav-bar .navbar {
        height: auto;
    }

    #nav-bar .navbar.scrolled {
        height: auto;
        background-color: rgb(0 0 0 / 70%);
        padding-right: 30px;
        position: fixed;
        padding-left: 30px;
        width: 100%;
        z-index: 1;
    }

    .nav-link {
        margin-right: -11px;
    }

    .nav-link:hover {
        color: white !important;
    }

    .SecondPage {
        padding-left: unset;
        padding-right: unset;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #fff0f4;
    }

    .SecondPageHeader {
        text-align: center;
        font-size: 20px;
        color: crimson;
        font-weight: 600;
        padding-bottom: 50px;
    }

    .Portfolio {
        padding-left: unset;
        padding-right: unset;
    }

    .carousel-h2 {
        font-size: 40px;
        padding-left: unset;
    }

    .products-h1 {
        font-size: 30px !important;
        font-weight: 700 !important;
    }

    .h1-Portfolio {
        font-size: 30px !important;
        font-weight: 700 !important;
    }

    .carousel-paragraph {
        font-size: 22.5px;
        padding-left: unset;
    }

    .carousel-image {
        max-width: 320px;
        max-height: 280px;
    }

    .h1-white {
        font-weight: 700;
        font-size: 30px;
    }

    .navbar-nav li a {
        font-size: 13px !important;
    }

    .approach-left-col {
        position: relative !important;
    }

    .approach-header {
        font-size: 30px !important;
    }

    .approach-paragraph {
        font-size: 22.5px !important;
    }

    .dot-portfolio {
        display: none;
    }

    .portfolio-paragraph {
        color: #343a40;
        font-size: 17px;

    }
}

@media screen and (max-width: 900px) {
    .carousel-h2 {
        font-size: 25.5px;
        padding-left: unset;
    }

    .products-h1 {
        font-size: 25.5px;
    }

    .carousel-paragraph {
        font-size: 20px;
        padding-left: unset;
    }

    .carousel-image {
        max-width: 100%;
    }

    .portfolio-paragraph {

        font-size: 15px;

    }
}

@media only screen and (max-width: 768px) {
    #nav-bar .navbar {
        height: auto;
    }

    #nav-bar .navbar.scrolled {
        height: auto;
        background-color: rgb(0 0 0 / 70%);
        padding-right: 30px;
        position: fixed;
        padding-left: 30px;
        width: 100%;
        z-index: 1;
    }

    .nav-link {
        margin-right: -11px;
    }

    .nav-link:hover {
        color: white !important;
    }

    .SecondPage {
        padding-left: unset;
        padding-right: unset;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #fff0f4;
    }

    .SecondPageHeader {
        text-align: center;
        font-size: 20px;
        color: crimson;
        font-weight: 600;
        padding-bottom: 50px;
    }

    .carousel-h2 {
        font-size: 25.5px;
        padding-left: unset;
        padding-top: unset;
    }

    .products-h1 {
        font-size: 30px !important;
        font-weight: 700 !important;
    }

    .h1-Portfolio {
        font-size: 30px !important;
        font-weight: 700 !important;
    }

    .h1-white {
        font-weight: 700 !important;
        font-size: 30px !important;
    }

    .carousel-paragraph {
        font-size: 20px;
        padding-left: unset !important;
        padding-top: unset !important;
    }

    .carousel-image {
        max-width: 100%;
    }

    .approach-header {
        padding-bottom: 30px;
    }

    .approach-paragraph {
        font-size: 22px !important;
        padding-bottom: 30px;
    }

    .approach-img {
        padding-top: 80px;
        padding-bottom: 50px;
        width: 100%;
        height: 95%;
    }

    .white-bold {
        font-size: 30px;
    }

    .paragraph-white {
        font-size: 22px;
        padding-bottom: 0px;
    }

    .Dedication {
        padding-bottom: 30px;
    }

    .white-regular {
        padding-bottom: 30px;
        font-size: 30px;
    }

    .white-bold {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .Services {
        padding: 30px;
    }

    .red-regular-Technologies {
        font-size: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .technologiesForm {
        margin-bottom: 30px
    }

    #carouselExampleIndicators {
        visibility: hidden;
        height: 0px;
    }

    .mobileServices {
        visibility: visible;
        height: auto;
    }

    .img-thumbnail {
        background-color: #fff0f5 !important;
        border: 2px solid #d31338 !important;
        border-radius: 1.25rem !important;
        margin-bottom: 15px;
    }

    .img-thumbnail:hover {
        background-color: #F8D3D9 !important
    }

    .dot-portfolio {
        display: none;
    }

    .portfolio-paragraph {
        color: #343a40;
        font-size: 14px;

    }

}

@media screen and (max-width: 600px) {
    .SecondPage {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #fff0f4;
    }

    .SecondPageHeader {
        text-align: center;
        font-size: 20px;
        color: crimson;
        font-weight: 600;
        padding-bottom: 4%;
    }

    .tech-icons-name {
        padding-bottom: 30px;
    }

    .formPortfolio {
        background-image: url(images/IMGPortfolio/cd1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 140px;
        margin-bottom: 30px;
        border: 1px solid gainsboro;
        border-radius: 15px;
    }

    .formContent {
        visibility: hidden;
    }

    .formTitle {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: unset;
        margin: 0 0 5px 0;
        text-align: center;
        padding-bottom: unset;
        padding-top: 5%;
    }

    .formParagraph {
        color: #343a40;
        font-size: 11px;
        font-weight: 400;
        left: 10%;
        right: 10%;
        position: absolute;
        letter-spacing: unset;
        padding-bottom: 10%;
    }

    .Contact {
        padding-left: 12%;
        background-repeat: no-repeat;
        background-image: url("images/IMGFooter/Footer.jpg");
        background-size: unset !important;
    }

    .approach-left-col {
        position: relative !important;
    }

    .approach-header {
        font-size: 26px !important;
    }

    .approach-paragraph {
        font-size: 16px !important;
        font-weight: 350 !important;
    }

    .approach-img {
        display: none !important;
    }

    .approach-read-more {
        font-size: 14px !important;
    }

    .h1-white {
        font-size: 20px;
        padding-left: unset !important;
        text-align: left;
    }

    .footer-header {
        font-size: 25px;
        padding: unset;
        padding-left: 50px;
    }

    .footer-paragraph {
        font-size: 15px;
    }

    .footer-followus {
        font-size: 20px;
        padding: unset;
    }

    .footer-button {
        max-width: 100%;
        padding: unset;
    }

    .footer-icon {
        font-size: 8px;
        padding: unset;
        color: #ffffff;
    }

    .form-row {
        max-width: 100%;
        padding-top: 10px;
    }

    .carousel-h2 {
        font-size: 26px !important;
        font-weight: 600;
    }

    .products-h1 {
        font-size: 26px !important;
    }

    .carousel-paragraph {
        font-size: 16px !important;
        padding-left: unset;
        padding-top: unset;
    }

    .carousel-image {
        max-width: 320px;
        max-height: 280px;
    }

    .bullets li {
        width: 5px;
        height: 5px;
        border: medium none;
        cursor: pointer;
        display: inline-block;
        float: none;
        border-radius: 1000px;
    }

    .portfolio-paragraph {
        color: #343a40;
        font-size: 12x;

    }

}

@media only screen and (max-width: 500px) {
    .Technologies {
        padding: 15px;
    }

    .h1-white {
        font-size: 24px !important;
        font-weight: 600 !important;
    }

    .products-h1 {
        font-size: 24px !important;
        font-weight: 600 !important;
    }

    .h1-Portfolio {
        font-size: 24px !important;
        font-weight: 600 !important;
    }

    .navbar-nav li a {
        font-size: 14px;
    }

    .white-regular {
        font-weight: 600;
        font-size: 24px;
        padding-bottom: 30px;
    }

    #technologiesText {
        padding-left: 43px;
    }

    .technologiesForm {
        margin-bottom: 30px;
    }

    .white-bold {
        font-size: 22px;
        padding-bottom: 30px;
        font-weight: 600;
    }

    .paragraph-white {
        font-size: 16px;
        font-weight: 350;
        padding-bottom: 50px;
        margin: 0;
    }

    .Dedication {
        padding-bottom: 0px;
    }

    .red-regular-mobile {
        font-size: 24px;
        font-weight: 600;
    }

    .red-regular-Technologies {
        font-size: 24px;
        padding-bottom: 30px;
        padding-top: 20px;
        font-weight: 600;
    }

    .red-regular-mobile {
        font-size: 24px;
    }

    .approach-header {
        width: 230px;
        font-size: 24px !important;
    }

    .portfolio-paragraph {
        color: #343a40;
        font-size: 10px;

    }

}